* {
	font-family: Open Sans, Dosis;
}

.body2 {
	background-color: white;
	width: 90%;
	margin-left: 5%;
}

.margencabe {
	margin-top: 50px;
}

	

h4 {
	margin-top: 5px;
	margin-bottom: 3%;
}

.m-l {
	margin-left: 40%;
}

	/*FOTOS*/
.m-lfoto {
	margin-left: 3%;
}

.text-foto {
	font-size: 14px;
}


a {
	color: pink;
	text-decoration: none;
}

.m-b {
	margin-bottom: 80px;
}

	/*FOOTER */

.pie-text {
	font-size: 12px;
}

.tit {
	font-size: 14px; 
	color: white;
	margin-bottom: 25px;
}

